priority -50

snippet yard "YARD tags"
# ${1:Method description}
# @param ${2:obj} [${3:Object}] ${4:description}
# ${0} @yield
# @yieldparam obj [Object]
# @yieldreturn
# @return
# @see
# @note
endsnippet
